HELP.md
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Apple ###
.DS_Store

### Java binaries ###
*.jar
!gradle/wrapper/gradle-wrapper.jar

### UME specific connector configs ###
ume*.sh

### GJF Pre Commit Hook ###
.cache/

### Confluent Connectors
deploy/connectors/*
!deploy/connectors/README.md

bin

# ignored since it isn't automatically refreshed by renovate or used by fhir restore
# (we're also pinning the dependency versions anyways)
fhirpkg.lock.json
package-lock.json

*.received.fhir.json

tests/k8s/**/charts

node_modules/
