app:
  version: 3.0.0-beta.10
  enableCheckDigitConv: ${CHECK_DIGIT_CONVERSION:false}
  patient-id-pattern: "[^0]\\d{8}"

fhir:
  default:
    baseSystemUrl: "https://bzkf.github.io"
  extensions:
    fernMetaExt: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Extension-Fernmetastasen"
    opIntention: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Extension-OPIntention"
    stellungOP: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Extension-StellungZurOp"
    systIntention: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Extension-SYSTIntention"
    sysTheraProto: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Extension-SystemischeTherapieProtokoll"
    dataAbsentReason: "http://hl7.org/fhir/StructureDefinition/data-absent-reason"
    genderAmtlich: "http://fhir.de/StructureDefinition/gender-amtlich-de"
    mii-ex-onko-strahlentherapie-intention: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-ex-onko-strahlentherapie-intention"
    mii-ex-onko-strahlentherapie-bestrahlung: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-ex-onko-strahlentherapie-bestrahlung"
    mii-ex-onko-histology-morphology-behavior-icdo3: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-ex-onko-histology-morphology-behavior-icdo3"
    mii-ex-onko-systemische-therapie-intention: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-ex-onko-systemische-therapie-intention"
    mii-ex-onko-op-intention: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-ex-onko-operation-intention"
    condition-asserted-date: "http://hl7.org/fhir/StructureDefinition/condition-assertedDate"
  systems:
    patientId: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/patient-id"
    identifier-type: "http://terminology.hl7.org/CodeSystem/v2-0203"
    conditionId: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/primaerdiagnose-id"
    observationId: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/observation-id"
    procedureId: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/procedure-id"
    operationProcedureId: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/operation-procedure-id"
    medicationStatementId: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/medication-statement-id"
    specimenId: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/specimen-id"
    observationHistologieId: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/observation-histologie-id"
    observationCategorySystem: "http://hl7.org/fhir/observation-category"
    gleasonScoreObservationId: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/gleason-score-observation-id"
    psaObservationId: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/psa-observation-id"
    strahlentherapie-procedure-id: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/strahlentherapie-procedure-id"
    systemische-therapie-procedure-id: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/systemische-therapie-procedure-id"
    systemische-therapie-medication-statement-id: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/systemische-therapie-medication-statement-id"
    allgemeiner-leistungszustand-ecog-id: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/allgemeiner-leistungszustand-ecog-id"
    fernmetastasen-id: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/fernmetastasen-id"
    loinc: "http://loinc.org"
    icdo3Morphologie: "http://terminology.hl7.org/CodeSystem/icd-o-3"
    icdo3MorphologieOid: "urn:oid:2.16.840.1.113883.6.43.1"
    gradingDktk: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/GradingCS"
    uicc: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/UiccstadiumCS"
    tnmPraefix: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/TNMcpuPraefixTCS"
    tnmTCs: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/TNMTCS"
    tnmNCs: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/TNMNCS"
    tnmMCs: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/TNMMCS"
    tnmYSymbolCs: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/TNMySymbolCS"
    tnmRSymbolCs: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/TNMrSymbolCS"
    tnmMSymbolCs: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/TNMmSymbolCS"
    fMLokalisationCS: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/FMLokalisationCS"
    jnuCs: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/JNUCS"
    icd10gm: "http://fhir.de/CodeSystem/bfarm/icd-10-gm"
    adtSeitenlokalisation: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/SeitenlokalisationCS"
    snomed: "http://snomed.info/sct"
    opIntention: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/OPIntentionCS"
    systTherapieart: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/SYSTTherapieartCS"
    ops: "http://fhir.de/CodeSystem/bfarm/ops"
    lokalBeurtResidualCS: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/LokaleBeurteilungResidualstatusCS"
    gesamtBeurtResidualCS: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/GesamtbeurteilungResidualstatusCS"
    systIntention: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/SYSTIntentionCS"
    systStellungOP: "http://dktk.dkfz.de/fhir/onco/core/CodeSystem/SYSTStellungOPCS"
    ctcaeGrading: "http://hl7.org/fhir/us/ctcae/CodeSystem/ctcae-grade-code-system"
    sideEffectTypeOid: "urn:oid:1.2.276.0.76.3.1.131.1.5.20"
    opComplication: "urn:oid:1.2.276.0.76.3.1.131.1.5.122"
    observation-value: "http://terminology.hl7.org/CodeSystem/v3-ObservationValue"
    genderAmtlichDe: "http://fhir.de/CodeSystem/gender-amtlich-de"
    ucum: "http://unitsofmeasure.org"
    condition-ver-status: "http://terminology.hl7.org/CodeSystem/condition-ver-status"
    mii-cs-onko-intention: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-intention"
    mii-cs-onko-primaertumor-diagnosesicherung: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-primaertumor-diagnosesicherung"
    mii-cs-onko-strahlentherapie-applikationsart: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-strahlentherapie-applikationsart"
    mii-cs-onko-strahlentherapie-strahlenart: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-strahlentherapie-strahlenart"
    mii-cs-onko-strahlentherapie-zielgebiet: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-strahlentherapie-zielgebiet"
    mii-cs-onko-seitenlokalisation: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-seitenlokalisation"
    mii-cs-onko-systemische-therapie-art: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-therapie-typ"
    mii-cs-onko-operation-residualstatus: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-residualstatus"
    mii-cs-therapie-grund-ende: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-therapie-grund-ende"
    mii-cs-onko-fernmetastasen: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-fernmetastasen"
    mii-cs-onko-tod-interpretation: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-tod"
    mii-cs-onko-tod-observation-id: "${fhir.default.baseSystemUrl}/obds-to-fhir/identifiers/tod-observation-id"
    atcBfarm: "http://fhir.de/CodeSystem/bfarm/atc"
    atcWho: "http://www.whocc.no/atc"
    observationCategory: "http://terminology.hl7.org/CodeSystem/observation-category"
    mii-cs-onko-grading: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-grading"
    mii-cs-onko-allgemeiner-leistungszustand-ecog: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/CodeSystem/mii-cs-onko-allgemeiner-leistungszustand-ecog"

  profiles:
    histologie: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Observation-Histologie"
    grading: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Observation-Grading"
    tnmC: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Observation-TNMc"
    tnmP: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Observation-TNMp"
    fernMeta: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Observation-Fernmetastasen"
    condition: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Condition-Primaerdiagnose"
    genVariante: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Observation-GenetischeVariante"
    opProcedure: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Procedure-Operation"
    stProcedure: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Procedure-Strahlentherapie"
    systMedStatement: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-MedicationStatement-Systemtherapie"
    deathObservation: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Observation-TodUrsache"
    miiPrOnkoGrading: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-grading"
    # MII
    mii-patient-pseudonymisiert: "https://www.medizininformatik-initiative.de/fhir/core/modul-person/StructureDefinition/PatientPseudonymisiert"
    mii-pr-onko-operation: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-operation"
    mii-pr-onko-diagnose-primaertumor: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-diagnose-primaertumor"
    mii-pr-onko-strahlentherapie: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-strahlentherapie"
    mii-pr-onko-fernmetastasen: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-fernmetastasen"
    mii-pr-onko-systemische-therapie: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-systemische-therapie"
    mii-pr-medication-statement: "https://www.medizininformatik-initiative.de/fhir/core/modul-medikation/StructureDefinition/MedicationStatement"
    mii-pr-onko-specimen: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-specimen"
    mii-pr-onko-anzahl-befallene-lymphknoten: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-anzahl-befallene-lymphknoten"
    mii-pr-onko-anzahl-befallene-sentinel-lymphknoten: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-anzahl-befallene-sentinel-lymphknoten"
    mii-pr-onko-anzahl-untersuchte-lymphknoten: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-anzahl-untersuchte-lymphknoten"
    mii-pr-onko-anzahl-untersuchte-sentinel-lymphknoten: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-anzahl-untersuchte-sentinel-lymphknoten"
    mii-pr-onko-allgemeiner-leistungszustand-ecog: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-allgemeiner-leistungszustand-ecog"
    mii-pr-onko-tod: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-tod"
    mii-pr-onko-histologie-icdo3: "https://www.medizininformatik-initiative.de/fhir/ext/modul-onko/StructureDefinition/mii-pr-onko-histologie-icdo3"
  display:
    histologyLoinc: "Histology and Behavior ICD-O-3 Cancer"
    gradingLoinc: "Grade pathology value Cancer"
    tnmcLoinc: "Stage group.clinical Cancer"
    tnmpLoinc: "Stage group.pathology Cancer"
    fernMetaLoinc: "Distant metastases.clinical"
    deathLoinc: "Primary cause of death"
    gleasonScoreSct: "Gleason score (observable entity)"
    gleasonScoreLoinc: "Gleason score in Specimen Qualitative"
    psaLoinc: "Prostate specific Ag [Mass/volume] in Serum or Plasma"
  url:
    tnmPraefix: "http://dktk.dkfz.de/fhir/StructureDefinition/onco-core-Extension-TNMcpuPraefix"
  mappings:
    modul:
      prostata:
        enabled: false
spring:
  profiles:
    active: ${ACTIVE_PROFILE:default}
  application:
    name: obds-to-fhir
  cloud:
    function:
      definition: getMeldungExportObdsProcessor
    stream:
      bindings:
        getMeldungExportObdsProcessor-in-0:
          destination: onkostar.MELDUNG_EXPORT${YEAR_LIMITATION_SUFFIX:}
        getMeldungExportObdsProcessor-in-1:
          destination: fhir.obds.Observation${YEAR_LIMITATION_SUFFIX:}
        getMeldungExportObdsProcessor-out-0:
          destination: fhir.obds.MedicationStatement${YEAR_LIMITATION_SUFFIX:}
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}
        getMeldungExportObdsProcessor-out-1:
          destination: fhir.obds.Observation${YEAR_LIMITATION_SUFFIX:}
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}
        getMeldungExportObdsProcessor-out-2:
          destination: fhir.obds.Procedure${YEAR_LIMITATION_SUFFIX:}
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}
        getMeldungExportObdsProcessor-out-3:
          destination: fhir.obds.Condition${YEAR_LIMITATION_SUFFIX:}
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}
        getMeldungExportObdsProcessor-out-4:
          destination: fhir.obds.Patient${YEAR_LIMITATION_SUFFIX:}
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}

      kafka:
        streams:
          binder:
            configuration:
              cache.max.bytes.buffering: 0
              max.request.size: ${MAX_REQUEST_SIZE:20971520}
              num.stream.threads: ${NUM_STREAM_THREADS:1}
              default:
                key.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
          bindings:
            getMeldungExportObdsProcessor-in-0:
              consumer:
                application-id: obds-meldung-exp-grouped-processor${YEAR_LIMITATION_SUFFIX:}
            getMeldungExportObdsProcessor-in-1:
              consumer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                application-id: obds-meldung-exp-condition-processor${YEAR_LIMITATION_SUFFIX:}
            getMeldungExportObdsProcessor-out-0:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}
            getMeldungExportObdsProcessor-out-1:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}
            getMeldungExportObdsProcessor-out-2:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}
            getMeldungExportObdsProcessor-out-3:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}
            getMeldungExportObdsProcessor-out-4:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}

  kafka:
    bootstrapServers: ${BOOTSTRAP_SERVERS:localhost:9094}
    security.protocol: ${SECURITY_PROTOCOL:PLAINTEXT}
    ssl:
      trust-store-type: PKCS12
      trust-store-location: file://${SSL_TRUST_STORE:/opt/kafka-certs/ca.p12}
      trust-store-password: ${SSL_TRUST_STORE_PASSWORD}
      key-store-type: PKCS12
      key-store-location: file://${SSL_KEY_STORE_FILE:/opt/kafka-certs/user.p12}
      key-store-password: ${SSL_KEY_STORE_PASSWORD}
    producer:
      compression-type: gzip

management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
        add-additional-paths: true
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
