# @ignored
app-version: 3.0.0-beta.196

# @ignored
app:
  enableCheckDigitConv: ${CHECK_DIGIT_CONVERSION:false}
  patient-id-pattern: "[^0]\\d{8}"

fhir:
  mappings:
    from-onkostar-patient-table:
      # -- if enabled, tod observations will be created using the patient table from onkostar
      enabled: true
    meta:
      # -- Value to set for the meta.source field in all generated resources
      source: ""
    # -- regex to apply to the `Patient_ID` before setting it to `Patient.identifier.value`. Must contain one capture group.
    # Use, e.g. `^0*([1-9]\d*)$` to match any numeric value, ignoring any prefixed 0s.
    patient-id-regex: "^(.*)$"
    create-patient-resources:
      # -- Whether Patient resources should be created. Useful to disable if you already create FHIR resources
      # from a different source.
      enabled: true
    patient-reference-generation:
      # -- How the Resource.subject.reference to the Patient resources should be generated.
      # You should set `fhir.mappings.create-patient-resources.enabled=false` when changing this from the default
      # to avoid creating additional, unreferenced Patient resources.
      strategy: SHA256_HASHED_PATIENT_IDENTIFIER_SYSTEM_AND_PATIENT_ID
      fhir-server:
        # -- the base URL of a FHIR server used to lookup an existing logical Patient id from a local identifier.
        # E.g. `https://fhir.example.com/fhir`
        base-url: ""
        auth:
          basic:
            # -- use HTTP Basic Authentication for FHIR server authentication
            enabled: false
            # -- the username
            username: ""
            # -- the password
            password: ""
      pseudonymize-patient-id:
        # -- if enabled, before looking up the Patient resource from its identifier, the oBDS Patient_ID
        # is first pseudonymized using the FHIR Pseudonymizer service at the `fhir-pseudonymizer.base-url`
        enabled: false
        fhir-pseudonymizer:
          # -- the base URL of the FHIR Pseudonymizer used to pseudonymize the Patient_ID before
          # looking up the actual Patient.id in the FHIR server. Invokes the `$de-identify` operation.
          # E.g. `https://fhir.example.com/fhir`
          base-url: ""
      record-id-database:
        # -- JDBC url to connect to to query an internal RecordID from a Patient_ID
        jdbc-url: ""
        # -- username for authentication
        username: ""
        # -- password for authentication
        password: ""
        # -- the SQL query to run. It should include one `?` placeholder which is replaced with the Patient_ID from the oBDS message.
        query: |
          SELECT RecordID
          FROM lookup
          WHERE PatientID = ?
    substanz-to-atc:
      # -- path to a CSV file containing additional Substanz -> ATC code mappings.
      # The CSV file needs to have two headings: `Substanzbezeichnung;ATC-Code`, all columns must be seperated by `;`.
      # The job always ships with the mappings from <https://plattform65c.atlassian.net/wiki/spaces/UMK/pages/15532506/Substanzen>,
      # if the extra file contains duplicate mappings to the default ones, the ones from this file take precedence.
      extra-mappings-file-path: ""

obdsv2-to-v3:
  mapper:
    # @ignored
    ignore-unmappable: false
    # @ignored
    fix-missing-id: false
    # -- Disable XML Schema validation for oBDS v2 -> v3 mapped Meldungen
    disable-schema-validation: false

spring:
  profiles:
    active: mappings,default
  application:
    name: obds-to-fhir
  cloud:
    function:
      definition: getMeldungExportObdsV3Processor;getPatientTodObservationProcessor
    stream:
      bindings:
        getMeldungExportObdsProcessor-in-0:
          destination: onkostar.MELDUNG_EXPORT
        getMeldungExportObdsProcessor-in-1:
          destination: fhir.obds.Observation
        getMeldungExportObdsProcessor-out-0:
          destination: fhir.obds.MedicationStatement
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}
        getMeldungExportObdsProcessor-out-1:
          destination: fhir.obds.Observation
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}
        getMeldungExportObdsProcessor-out-2:
          destination: fhir.obds.Procedure
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}
        getMeldungExportObdsProcessor-out-3:
          destination: fhir.obds.Condition
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}
        getMeldungExportObdsProcessor-out-4:
          destination: fhir.obds.Patient
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}
        getMeldungExportObdsV3Processor-in-0:
          # -- Name of the topic where ONKOSTAR oBDS Meldungen are read from
          destination: ${INPUT_TOPIC_NAME:onkostar.MELDUNG_EXPORT}
        getMeldungExportObdsV3Processor-out-0:
          # -- Name of the topic where the FHIR resources are written to
          destination: ${FHIR_OUTPUT_TOPIC_NAME:fhir.obds.bundles}
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}
        getPatientTodObservationProcessor-in-0:
          # -- Name of the topic where ONKOSTAR Patients are read from
          destination: ${PATIENT_INPUT_TOPIC_NAME:onkostar.PATIENT}
        getPatientTodObservationProcessor-out-0:
          # -- Name of the topic where the FHIR resources are written to
          destination: ${FHIR_OUTPUT_TOPIC_NAME:fhir.obds.bundles}
          producer:
            partition-count: ${FHIR_OUTPUT_TOPIC_PARTITION_COUNT:12}

      kafka:
        streams:
          binder:
            configuration:
              cache.max.bytes.buffering: 0
              max.request.size: ${MAX_REQUEST_SIZE:20971520}
              num.stream.threads: ${NUM_STREAM_THREADS:1}
              default:
                key.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
          bindings:
            getMeldungExportObdsProcessor-in-0:
              consumer:
                application-id: obds-meldung-exp-grouped-processor
            getMeldungExportObdsProcessor-in-1:
              consumer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                application-id: obds-meldung-exp-condition-processor
            getMeldungExportObdsProcessor-out-0:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}
            getMeldungExportObdsProcessor-out-1:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}
            getMeldungExportObdsProcessor-out-2:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}
            getMeldungExportObdsProcessor-out-3:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}
            getMeldungExportObdsProcessor-out-4:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}
            getMeldungExportObdsV3Processor-in-0:
              consumer:
                # -- the Kafka consumer group id. Useful to change if multiple versions of this job are run concurrently
                application-id: ${KAFKA_GROUP_ID:obds-meldung-exp-v3-processor}
            getMeldungExportObdsV3Processor-out-0:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}
            getPatientTodObservationProcessor-in-0:
              consumer:
                # -- the Kafka consumer group id. Useful to change if multiple versions of this job are run concurrently
                application-id: ${KAFKA_PATIENT_GROUP_ID:obds-patient-v3-processor}
            getPatientTodObservationProcessor-out-0:
              producer:
                valueSerde: org.miracum.kafka.serializers.KafkaFhirSerde
                configuration:
                  compression.type: ${COMPRESSION_TYPE:gzip}

  kafka:
    bootstrapServers: ${BOOTSTRAP_SERVERS:localhost:9094}
    security.protocol: ${SECURITY_PROTOCOL:PLAINTEXT}
    ssl:
      trust-store-type: PKCS12
      trust-store-location: file://${SSL_TRUST_STORE:/opt/kafka-certs/ca.p12}
      trust-store-password: ${SSL_TRUST_STORE_PASSWORD}
      key-store-type: PKCS12
      key-store-location: file://${SSL_KEY_STORE_FILE:/opt/kafka-certs/user.p12}
      key-store-password: ${SSL_KEY_STORE_PASSWORD}
    producer:
      compression-type: gzip
      value-serializer: org.miracum.kafka.serializers.KafkaFhirSerializer
      properties:
        max.request.size: ${MAX_REQUEST_SIZE:20971520}

logging:
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:%5p}) %clr(-){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m %X %n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"

management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
        add-additional-paths: true
  endpoints:
    web:
      exposure:
        include: "health,prometheus,kafkastreamstopology"
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

obds:
  process-from-directory:
    # -- if enabled, read oBDS XML exports from a directory instead of from Kafka
    enabled: false
    # -- the folder path to read from. All XML files within this folder are read
    path: ""
    output-to-kafka:
      # -- write the FHIR bundles to a Kafka topic
      enabled: false
      # -- name of the topic to write to
      topic: ""
    output-to-directory:
      # -- output the fir Bundles to a directory, 1 file per Bundle
      enabled: false
      # -- path to the directory to write Bundles to
      path: ""
  write-grouped-obds-to-kafka:
    # -- the oBDS Einzelmeldungen are internally combined to a single oBDS Export.
    # If enabled, write the combined oBDS exports to a topic: one message per Patient_ID+Tumor_ID
    enabled: false
    # -- the name of the topic to write the combined oBDS export to. Helpful for debugging.
    topic: "obds.v3.grouped"
