name: DQ Checks

on:
  pull_request:
    branches:
      - master
      - beta
  release:
    types:
      - created
  push:
    branches:
      - master
  merge_group:
    types:
      - checks_requested

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  build:
    uses: miracum/.github/.github/workflows/standard-build.yaml@25644e0d4ff70af6ee319e6cb4bd6d2f451882f8 # v1.18.4
    permissions:
      contents: write
      id-token: write
      packages: write
      pull-requests: write
      actions: read
      security-events: write
    with:
      build-context: dq/
      enable-build-test-layer: false
      enable-upload-test-image: false
      image: "ghcr.io/${{ github.repository }}-dq-checks"
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}

  run-gx-checks:
    name: run dq checks
    runs-on: ubuntu-24.04
    needs:
      - build
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit # change to 'egress-policy: block' after couple of runs

      # <https://docs.docker.com/storage/containerd/>
      # via <https://github.com/docker/setup-buildx-action/issues/257>
      - name: Set up containerd image store
        shell: bash
        run: |
          [ -f /etc/docker/daemon.json ] || echo "{}" | sudo tee /etc/docker/daemon.json
          jq '. | .+{"features": {"containerd-snapshotter": true}}' /etc/docker/daemon.json > /tmp/docker-daemon-with-containerd.json
          sudo mv /tmp/docker-daemon-with-containerd.json /etc/docker/daemon.json
          cat /etc/docker/daemon.json
          sudo systemctl restart docker
          docker info -f '{{ .DriverStatus }}'

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Download image
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ needs.build.outputs.image-slug }}
          path: /tmp

      - name: Load image
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          docker load --input /tmp/image.tar
          docker image ls

      - name: Run checks
        env:
          DQ_CHECKS_IMAGE: "ghcr.io/${{ github.repository }}-dq-checks:${{ needs.build.outputs.image-version }}"
        run: |
          mkdir -p ./data-docs
          sudo chown -R 65532:65532 ./data-docs
          docker run --rm \
            -v ./mappings:/mappings:ro \
            -v ./data-docs:/app/gx/uncommitted/:rw \
            -e READ_FROM_DELTA=False \
            -e SPARK_CHECKPOINT_PATH=/tmp \
            -e BUNDLES_DIR=/mappings/src/test/java/snapshots/io/github/bzkf/obdstofhir/mapper/mii/ObdsToFhirBundleMapperTest/ \
            "${DQ_CHECKS_IMAGE}"

      - name: Upload data docs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: gx-data-docs
          path: data-docs/
