name: validate-fhir-resources

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

permissions: read-all

jobs:
  validate-fhir-resource:
    name: Validate FHIR resources
    runs-on: ubuntu-22.04
    container: ghcr.io/miracum/ig-build-tools:v2.1.6@sha256:26bc1eaf0a259e8c16d0eeeb8622c7aecaa45d41e39f158696f9aec90b142596
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Restore FHIR package dependencies
        run: |
          fhir restore

      - name: Validate generated FHIR resources
        run: |
          find src/test/java/snapshots/org/miracum/streams/ume/obdstofhir/mapper/mii/ -name "*.fhir.json" -print0 | xargs -0 -I {} sh -c 'echo "Validating: {}" && fhir validate --verbose --fail "{}"'
