name: validate-fhir-resources

on:
  pull_request:
    branches:
      - master
      - beta
  push:
    branches: [master]

permissions:
  contents: read

env:
  MAPPERS_TO_IGNORE_VALIDATION_ERRORS: |
    [
      "VerlaufObservationMapperTest",
      "ConditionMapperTest",
      "HistologiebefundMapperTest",
      "SystemischeTherapieMedicationStatementMapperTest"
    ]

jobs:
  extract-mapper-names:
    name: extract mapper names
    runs-on: ubuntu-24.04
    outputs:
      mapper-names: ${{ steps.extract.outputs.mapper-names }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Find unique prefixes
        id: extract
        run: |
          PREFIXES=$(find src/test/java/snapshots/org/miracum/streams/ume/obdstofhir/mapper/mii/ -depth -maxdepth 1 -type f -name "*.fhir.json" \
            | awk -F'/' '{split($NF, parts, "\\."); print parts[1]}' | sort -u | jq -R . | jq -s -c .)
          echo "Extracted prefixes: $PREFIXES"
          echo "mapper-names=$PREFIXES" >> "$GITHUB_OUTPUT"

  validate-fhir-resource:
    name: validate fhir resources
    runs-on: ubuntu-24.04
    container: ghcr.io/miracum/ig-build-tools:v2.2.17@sha256:2355422c955ce914c39e8fceaf66166b1130d4c162935253b24656a64844e4cb
    needs:
      - extract-mapper-names
    strategy:
      matrix:
        mapper: ${{ fromJson(needs.extract-mapper-names.outputs.mapper-names) }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit # change to 'egress-policy: block' after couple of runs

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Cache FHIR packages
        id: fhir-package-cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            /github/home/.fhir/packages
            fhirpkg.lock.json
          key: fhir-packages-${{ hashFiles('package.json') }}
          restore-keys: |
            fhir-packages-

      - name: Restore FHIR package dependencies
        if: ${{ steps.fhir-package-cache.outputs.cache-hit != 'true' }}
        run: |
          fhir cache location --path
          fhir cache list
          fhir config inflate All
          fhir restore

      - name: Validate generated FHIR resources
        continue-on-error: ${{contains(fromJson(env.MAPPERS_TO_IGNORE_VALIDATION_ERRORS), env.MAPPER_NAME) }}
        env:
          MAPPER_NAME: ${{ matrix.mapper }}
        run: |
          fhir cache location --path
          fhir cache list
          echo "Validating files for mapper: ${MAPPER_NAME}"
          find src/test/java/snapshots/org/miracum/streams/ume/obdstofhir/mapper/mii/ -depth -maxdepth 1 -type f \
            -name "${MAPPER_NAME}*.fhir.json" -print0 | \
            xargs -0 -I {} sh -c 'echo "  Validating: {}" && fhir validate --verbose --fail "{}"'

  validate-bundles:
    name: validate bundles
    runs-on: ubuntu-24.04
    container: ghcr.io/miracum/ig-build-tools:v2.2.17@sha256:2355422c955ce914c39e8fceaf66166b1130d4c162935253b24656a64844e4cb
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit # change to 'egress-policy: block' after couple of runs

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Cache FHIR packages
        id: fhir-package-cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            /github/home/.fhir/packages
            fhirpkg.lock.json
          key: fhir-packages-${{ hashFiles('package.json') }}
          restore-keys: |
            fhir-packages-

      - name: Restore FHIR package dependencies
        if: ${{ steps.fhir-package-cache.outputs.cache-hit != 'true' }}
        run: |
          fhir cache location --path
          fhir cache list
          fhir config inflate All
          fhir restore

      - name: Validate bundles
        continue-on-error: true
        run: |
          fhir cache location --path
          fhir cache list
          find src/test/java/snapshots/org/miracum/streams/ume/obdstofhir/mapper/mii/ObdsToFhirBundleMapperTest/ -type f \
            -name "*.fhir.json" -print0 | \
            xargs -0 -I {} sh -c 'echo "\n\n\nValidating: {}" && fhir validate --verbose --fail "{}"'
