name: validate-fhir-resources

on:
  pull_request:
    branches:
      - master
      - beta
  push:
    branches: [master]

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

env:
  # fatal: Internal logic failure: Unknown symbol 'resolve'
  MAPPERS_TO_IGNORE_VALIDATION_ERRORS: |
    [
      "TumorKonferenzMapperTest",
      "ModulProstataMapperTest"
    ]

jobs:
  extract-mapper-names:
    name: extract mapper names
    runs-on: ubuntu-24.04
    outputs:
      mapper-names: ${{ steps.extract.outputs.mapper-names }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Find unique prefixes
        id: extract
        run: |
          PREFIXES=$(find mappings/src/test/java/snapshots/io/github/bzkf/obdstofhir/mapper/mii/ -depth -maxdepth 1 -type f -name "*.fhir.json" \
            | awk -F'/' '{split($NF, parts, "\\."); print parts[1]}' | sort -u | jq -R . | jq -s -c .)
          echo "Extracted prefixes: $PREFIXES"
          echo "mapper-names=$PREFIXES" >> "$GITHUB_OUTPUT"

  validate-fhir-resource:
    name: validate fhir resources
    runs-on: ubuntu-24.04
    container: ghcr.io/miracum/ig-build-tools:v2.2.27@sha256:ef0579d4a82b35974576fe215ce2b6e117af330545989ac0bce9ddd3f9388e64
    needs:
      - extract-mapper-names
    strategy:
      matrix:
        mapper: ${{ fromJson(needs.extract-mapper-names.outputs.mapper-names) }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit # change to 'egress-policy: block' after couple of runs

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Configure fhir cli
        run: |
          fhir config inflate All
          fhir config validator Advanced

      - name: Cache FHIR packages
        id: fhir-package-cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            /github/home/.fhir/packages
            fhirpkg.lock.json
          key: fhir-packages-${{ hashFiles('package.json') }}
          restore-keys: |
            fhir-packages-

      - name: Restore FHIR package dependencies
        if: ${{ steps.fhir-package-cache.outputs.cache-hit != 'true' }}
        run: |
          fhir cache location --path
          fhir cache list
          fhir restore

      - name: Validate generated FHIR resources
        continue-on-error: ${{contains(fromJson(env.MAPPERS_TO_IGNORE_VALIDATION_ERRORS), env.MAPPER_NAME) }}
        env:
          MAPPER_NAME: ${{ matrix.mapper }}
        run: |
          fhir cache location --path
          fhir cache list
          echo "Validating files for mapper: ${MAPPER_NAME}"
          find mappings/src/test/java/snapshots/io/github/bzkf/obdstofhir/mapper/mii/ -depth -maxdepth 1 -type f \
            -name "${MAPPER_NAME}*.fhir.json" -print0 | \
            xargs -0 -I {} sh -c 'echo "  Validating: {}" && fhir validate --verbose --fail "{}"'

  validate-bundles:
    name: validate bundles
    runs-on: ubuntu-24.04
    container: ghcr.io/miracum/ig-build-tools:v2.2.27@sha256:ef0579d4a82b35974576fe215ce2b6e117af330545989ac0bce9ddd3f9388e64
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit # change to 'egress-policy: block' after couple of runs

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Configure fhir cli
        run: |
          fhir config inflate All
          fhir config validator Advanced

      - name: Cache FHIR packages
        id: fhir-package-cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            /github/home/.fhir/packages
            fhirpkg.lock.json
          key: fhir-packages-${{ hashFiles('package.json') }}
          restore-keys: |
            fhir-packages-

      - name: Restore FHIR package dependencies
        if: ${{ steps.fhir-package-cache.outputs.cache-hit != 'true' }}
        run: |
          fhir cache location --path
          fhir cache list
          fhir restore

      - name: Validate bundles
        continue-on-error: true
        run: |
          fhir cache location --path
          fhir cache list
          find mappings/src/test/java/snapshots/io/github/bzkf/obdstofhir/mapper/mii/ObdsToFhirBundleMapperTest/ -type f \
            -name "*.fhir.json" -print0 | \
            xargs -0 -I {} sh -c 'echo "\n\n\nValidating: {}" && fhir validate --verbose --fail "{}"'
